body {
	font-family: Arial, sans-serif;
	background-color: #f0f0f0;
}

.container {
	margin: 20px auto;
	background-color: #fff;
    border-radius: 2%;
	padding: 20px;
	border: 1px solid #ddd;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
	text-align: center;
	margin-bottom: 20px;
}